<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="../client/styles/style.scss" />
    <!-- تأكد من مسار ملف SCSS -->
  </head>

  <body>
    <header>
      <div>Logo</div>
      <div>Navigation</div>
    </header>
    <main>
      <form id="urlForm">
        <input
          id="article-url"
          type="text"
          name="url"
          placeholder="Enter URL"
          required
        />
        <button id="submitButton" type="submit">Submit</button>
      </form>
      <div id="results"></div>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
